.header {
  display: flex;
  align-items: center;
  background-color: black;
  padding : 8px;
}

.header .search-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-container {
  padding: 0 0 2px 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffffff;
}

.input-box {
  margin: 0 2px 0 5px;
  background-color: transparent;
  border: none;
  color: var(--color-white);
}

input[type="search"] {

}

input:focus {
  outline: none;
}

.search-btn {
  border: none;
  background-color: inherit;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  color: aliceblue;
  font-weight: 500;
}

.material-icons {
  background-color: inherit;
  display: inline-block;
  border: none;
  cursor: pointer;
  margin-left: 0;
  padding: 0;
  color: aliceblue;
}

.material-icons-outlined {
  color: #ffffff;
  font-size: 36px;
  padding: 5px 0 0 0;
}

.header .header__weather {
  position: absolute;
  right: 30px;
  color: #ffffff;
}
.header .header__weather .header__weather--container {
  display: flex;
  height: 36px;
}

.header .header__weather .header__weather--container .header__weather--ico::before {
  font-size: 1.5rem;
  line-height: 1.5;
  vertical-align: middle;
}

.header .header__weather .header__weather--container .header__weather--temperature {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  margin-left: 0.5em;
  cursor: default;
}

.header .header__weather .header__weather--location {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.1em;
  cursor: default;
}

.middle {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.middle .middle__time--container {
  color: #ffffff;
  font-size: 100px;
}

.middle .middle__welcomeText {
  color: #ffffff;
  font-size: 20px;
}

.middle .middle__name--container {
  border-bottom: 2px solid #ffffff;
  height: 40px;
  width:250px;
  display: flex;
  justify-content: center;
}

.middle .middle__name--container .nameText {
  background-color: transparent;
  border: none;
  color: var(--color-white);
  width: 80%;
  margin-top: 10px;
}

.nameText::placeholder {
  color: gray;
  font-size: 20px;
  text-align: center;
}

